.button {
  --button-gap: var(--indent-quarter);
  --button-padding: var(--indent-half) var(--indent);
  --button-border-radius: var(--radius);
  --button-bg-color: var(--color-primary);
  --button-txt-color: var(--color-white);
  --button-line-height: 1.15;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  gap: var(--button-gap);
  padding: var(--button-padding);
  border: var(--border-thick) transparent;
  border-radius: var(--button-border-radius);
  background-color: var(--button-bg-color);
  color: var(--button-txt-color);
  line-height: var(--button-line-height);
  transition:
    color var(--transition-base),
    background-color var(--transition-base),
    transform var(--transition-base);

  @media (--viewport-sm) {
    --button-line-height: var(--base-line-height);
  }

  &:active:not(:disabled) {
    transform: scale(0.95);
  }

  @mixin focus var(--button-bg-color);

  @mixin hover {
    background-color: hsl(from var(--button-bg-color) h s calc(l - 10));
  }

  &:disabled {
    @mixin disabled;
  }

  &_elevated {
    box-shadow: var(--shadow);
  }

  &_rounded {
    --button-border-radius: var(--radius-full);
  }

  &_circle {
    --button-border-radius: var(--radius-full);
    --button-padding: var(--indent-half);
  }

  &_small {
    --button-padding: var(--indent-quarter);
  }

  &_large {
    --button-padding: var(--indent-three-quarters) var(--indent-and-half);
  }

  &_secondary {
    --button-bg-color: var(--color-secondary);
  }

  &_danger {
    --button-bg-color: var(--color-danger);
  }

  &_success {
    --button-bg-color: var(--color-success);
  }

  &_warning {
    --button-bg-color: var(--color-warning);
  }

  &_gray {
    --button-bg-color: var(--color-gray);
  }

  &_outline {
    border-color: var(--button-bg-color);
    background-color: transparent;
    color: var(--button-bg-color);

    @mixin hover {
      background-color: var(--button-bg-color);
      color: var(--color-white);
    }
  }

  &_plain {
    color: var(--button-bg-color);
    background-color: var(--color-bg-body);

    @mixin hover {
      background-color: color-mix(in oklab, var(--button-bg-color) 15%, white);
    }
  }
}
