.button {
  --button-gap: var(--indent-quarter);
  --button-padding: var(--indent-half) var(--indent);
  --button-border: var(--border) transparent;
  --button-border-radius: var(--radius);
  --button-bg-color: var(--color-primary);
  --button-txt-color: var(--color-white);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  gap: var(--button-gap);
  padding: var(--button-padding);
  border: var(--button-border);
  border-radius: var(--button-border-radius);
  background-color: var(--button-bg-color);
  color: var(--button-txt-color);
  transition:
    color var(--transition-base),
    background-color var(--transition-base),
    transform var(--transition-base);

  &:active:not(:disabled) {
    transform: scale(0.95);
  }

  @mixin focus var(--button-bg-color);

  @mixin hover {
    background-color: hsl(from var(--button-bg-color) h s calc(l - 10));
  }

  &:disabled {
    @mixin disabled;
  }

  &_elevated {
    box-shadow: var(--shadow);
  }

  &_rounded {
    border-radius: var(--radius-full);
  }

  &_secondary {
    --button-bg-color: var(--color-secondary);
  }

  &_danger {
    --button-bg-color: var(--color-danger);
  }

  &_success {
    --button-bg-color: var(--color-success);
  }

  &_gray {
    --button-bg-color: var(--color-gray);
  }
}
