  .card {
    --card-padding-ver: var(--indent-double);
    --card-padding-hor: var(--indent-double);
    --card-padding: var(--card-padding-ver) var(--card-padding-hor);
    --card-border: var(--border) var(--color-gray);
    --card-border-radius: var(--radius);
    --card-shadow: var(--shadow);
    --card-gap: var(--card-padding-ver);

    display: flex;
    flex-direction: column;
    width: fit-content;
    background-color: var(--color-bg-body);
    padding: var(--card-padding);
    border: var(--card-border);
    border-radius: var(--card-border-radius);
    box-shadow: var(--card-shadow);
    gap: var(--card-gap);

    &_glass {
      @mixin glass;
    }

    &_login {
      --card-border: 0 none;
      --card-shadow: none;
      --card-padding: 0;
      
      @media (--viewport-sm) {
        --card-border: var(--border) var(--color-gray);
        --card-shadow: var(--shadow-md);
        --card-padding: var(--card-padding-ver) var(--card-padding-hor);
      }
    }

    &_signup {
      --card-border: 0 none;
      --card-shadow: none;
      --card-padding: var(--card-padding-ver) 0;
      --card-border-radius: 0;

      @media (--viewport-sm) {
        --card-shadow: var(--shadow-md);
        --card-padding: var(--card-padding-ver) calc(var(--card-padding-hor) * 2);

        border-left: var(--border) var(--color-gray);
        justify-content: center;
      }
    }
  }