  .card {
    --card-padding: var(--indent-double);

    width: fit-content;
    padding: var(--card-padding);
    background-color: var(--color-bg-body);
    border: var(--border) var(--color-gray);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    gap: var(--card-padding);

    &_glass {
      @mixin glass;
    }

    &_login {
      border: 0 none;
      box-shadow: none;
      padding: 0;
      
      @media (--viewport-sm) {
        border: var(--border) var(--color-gray);
        box-shadow: var(--shadow-md);
        padding: var(--card-padding);
      }
    }
  }