  .card {
    --card-padding: var(--indent-double);

    width: fit-content;
    padding: var(--card-padding);
    background-color: var(--color-bg-body);
    border: var(--border) var(--color-gray);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    gap: var(--card-padding);

    &_glass {
      @mixin glass;
    }
  }