.input {
  --input-border-color: var(--color-gray);
  --input-padding: var(--indent-three-quarters);

  background-color: var(--color-bg-body);
  border: var(--border) var(--input-border-color);
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: border-color var(--transition-base);

  @mixin hover {
    --input-border-color: var(--color-primary);
  }

  &:focus-within {
    --input-border-color: var(--color-primary);

    @mixin focus-shadow;
  }

  :global(input) {
    flex-grow: 1;
    padding: var(--input-padding);

    &:focus {
      outline: none;
    }
  }

  &_icon {
    padding-left: var(--input-padding);
  }

  &_password {
    padding-right: var(--input-padding);
  }

  &_checkbox {
    display: inline-grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: var(--indent-half);
    cursor: pointer;
    user-select: none;
    width: fit-content;

    &__checkbox {
      --checkbox-size: 1.125rem;

      width: var(--checkbox-size);
      height: var(--checkbox-size);
      cursor: inherit;

      @mixin focus;
    }
  }
}