.input {
  --input-border-color: var(--color-gray);
  --input-padding: var(--indent-three-quarters);

  background-color: var(--color-bg-body);
  border: var(--border) var(--input-border-color);
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: border-color var(--transition-base);

  @mixin hover {
    --input-border-color: var(--color-primary);
  }

  &:focus-within {
    --input-border-color: var(--color-primary);

    @mixin focus-shadow;
  }

  :global(input) {
    flex-grow: 1;
    padding: var(--input-padding);

    &:focus {
      outline: none;
    }
  }

  &_icon {
    padding-left: var(--input-padding);
  }

  &_password {
    padding-right: var(--input-padding);
  }
}