.header {
  --header-padding: var(--indent);

  display: flex;
  align-items: center;
  padding: var(--header-padding);

  &__user-block {
    margin-left: auto;
    display: flex;
    gap: var(--header-padding);
  }
}