@define-mixin disabled {
  cursor: not-allowed;
  opacity: .35;
}

@define-mixin focus $color: var(--color-primary) {
  &:focus {
    outline: none;
  }

  &:focus-visible {
    @mixin focus-shadow $color;
  }
}

@define-mixin hover {
  @media (hover: hover) {
    &:hover:not(:disabled) {
      @mixin-content;
    }
  }

  @media (hover: none) {
    &:active:not(:disabled) {
      @mixin-content;
    }
  }
}

@define-mixin focus-shadow $color: var(--color-primary) {
  box-shadow:
    0 0 0 2px var(--color-bg-body),
    0 0 0 4px $color;
}

@define-mixin glass {
  background: var(--glass-bg);
  border-color: var(--glass-border-color);
  backdrop-filter: var(--glass-filter);
}